<div class="main">
    <h2 class="header">ようこそ <span>Bookers</span> へ！</h2>

    <div class="text">
      <p class="homes-p"><span>Bookers</span> では、さまざまな書籍に関するあなたの意見や</p>
      <p class="homes-p">印象を共有し交換することができます</p>
      <%= link_to("start",books_path) %>
    </div>
</div>